{% extends "base.html" %}

  <title>{% block title %} Inicio Sesion {% endblock %}</title>

        {% block navbar %}
          <li><a class="nav-link scrollto active" href="{% url 'turnos:index' %}#hero">Inicio</a></li>
          <li><a class="nav-link scrollto" href="{% url 'turnos:index' %}#about">Nosotros</a></li>
          <li><a class="nav-link scrollto" href="{% url 'turnos:index' %}#services">Especialidades</a></li>
          <li><a class="nav-link scrollto" href="{% url 'turnos:index' %}#contact">Contacto</a></li>
        {% endblock %}

      {% block button %}
      <a href="{% url 'turnos:register' %}" class="appointment-btn scrollto">Registrarse</a>
      {% endblock %}



      {% block content %}
          <div>
              <main class="form-signin position-absolute start-50 top-50 translate-middle" >
                  <form class ="form" method="POST">
                      {% csrf_token %}
                      {{ form.as_p }}

                      <button class="w-100 btn btn-lg btn-primary" type="submit" name="button">Iniciar Sesión</button>
                  </form>
              </main>
          </div>

          <script type="text/javascript">
              document.getElementById("id_username").className = "form-control";
              document.getElementById("id_password").className = "form-control";
          </script>
      {% endblock %}
